<div class='chessgame'>    
    <div id='title'>Chess</div>
    <p id="notice"></p>
        <div class='chessboard'>
            <div class='board-row'>
        		<span class='black-square'><img class='black-rook black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c23687e54b-210x210.png'></span>
        		<span class='white-square'><img class='black-knight black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c23650ee18.png'></span>
        		<span class='black-square'><img class='black-bishop black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235734a67.png'></span>
        		<span class='white-square'><img class='black-queen black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235abcd0c.png'></span>
        		<span class='black-square'><img class='black-king black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c236018946.png'></span>
        		<span class='white-square'><img class='black-bishop black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235734a67.png'></span>
        		<span class='black-square'><img class='black-knight black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c23650ee18.png'></span>
        		<span class='white-square'><img class='black-rook black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c23687e54b-210x210.png'></span>
        	</div>
        	<div class='board-row'>
        		<span class='white-square'><img class='black-pawn black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png'></span>
        		<span class='black-square'><img class='black-pawn black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png'></span>
        		<span class='white-square'><img class='black-pawn black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png'></span>
        		<span class='black-square'><img class='black-pawn black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png'></span>
        		<span class='white-square'><img class='black-pawn black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png'></span>
        		<span class='black-square'><img class='black-pawn black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png'></span>
        		<span class='white-square'><img class='black-pawn black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png'></span>
        		<span class='black-square'><img class='black-pawn black-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png'></span>
        	</div>
        	<div class='board-row'>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        	</div>
        	<div class='board-row'>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        	</div>
        	<div class='board-row'>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        	</div>
        	<div class='board-row'>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        		<span class='white-square'></span>
        		<span class='black-square'></span>
        	</div>
        	<div class='board-row'>
        		<span class='black-square'><img class='white-pawn white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png'></span>
        		<span class='white-square'><img class='white-pawn white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png'></span>
        		<span class='black-square'><img class='white-pawn white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png'></span>
        		<span class='white-square'><img class='white-pawn white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png'></span>
        		<span class='black-square'><img class='white-pawn white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png'></span>
        		<span class='white-square'><img class='white-pawn white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png'></span>
        		<span class='black-square'><img class='white-pawn white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png'></span>
        		<span class='white-square'><img class='white-pawn white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png'></span>
        	</div>
        	<div class='board-row'>
        		<span class='white-square'><img class='white-rook white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2366cc7ae.png'></span>
        		<span class='black-square'><img class='white-knight white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c236365e2d.png'></span>
        		<span class='white-square'><img class='white-bishop white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c23557ae70.png'></span>
        		<span class='black-square'><img class='white-queen white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235e690a0.png'></span>
        		<span class='white-square'><img class='white-king white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c23592247c.png'></span>
        		<span class='black-square'><img class='white-bishop white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c23557ae70.png'></span>
        		<span class='white-square'><img class='white-knight white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c236365e2d.png'></span>
        		<span class='black-square'><img class='white-rook white-piece chess-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2366cc7ae.png'></span>
        	</div>
    	</div>
        <div class='white-select piece-trade'>
                <span>Click a piece to change pawn into: </span>
                <span><img class='white-rook-trade trade-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2366cc7ae.png'></span>
                <span><img class='white-knight-trade trade-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c236365e2d.png'></span>
                <span><img class='white-bishop-trade trade-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c23557ae70.png'></span>
                <span><img class='white-queen-trade trade-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235e690a0.png'></span>
        </div>    
        <div class='black-select piece-trade'>
                <span>Click a piece to change pawn into: </span>
                <span><img class='black-rook-trade trade-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c23687e54b-210x210.png'></span>
                <span><img class='black-knight-trade trade-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c23650ee18.png'></span>
                <span><img class='black-bishop-trade trade-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235734a67.png'></span>
                <span><img class='black-queen-trade trade-piece' src='http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235abcd0c.png'></span>
        </div>
    <div class='white-check in-check'></div>
    <div class='black-check in-check'></div>
    <div class='white-pieces-taken'>White pieces taken: </div>
    <div class='black-pieces-taken'>Black pieces taken: </div>
    <div>
      <%= form_tag('/', method: 'get', class: 'refresh-page') do %>
        <%= submit_tag('Refresh') %>
      <% end %>
    </div>
    <div>
      <%= form_tag('/home', method: 'post', class: 'save-form') do %>
        <%= text_field_tag "saving_name", nil, class: "saving_name_value" %>
        <%= submit_tag('Save') %>
      <% end %>
        <span class="save_errors">
      </span>
    </div>
    <div>
      <%= form_tag('/load_game', method: 'get', class: 'load-form') do %>
        <%= text_field_tag(:load_name) %>
        <%= submit_tag('Load') %>
      <% end %>
       <span class="load_errors">
       Cannot load game that does not exist!
      </span>
    </div>
</div>